.filtro{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
    h2 {
        color: $color-white;
        padding: 7px;
    }
    
    .buttons-filter {
        display: flex;
        justify-content: center;
        width: 100%;
        gap:10px;
        margin-top: 24px;
        
    }
}

@include breakpoint(medium) {
    .filtro{
        .buttons-filter{
            gap:117px;
            .btn-filter-normal{
                width: 288px;
                height: 67px;
                }
            .btn-filter-active {
                width: 288px;
                height: 67px;
            }
        }
    }
}