/*Botones*/
@mixin btn($color-background,$color-border){
  display: flex;
  justify-content: center;
  align-items: center; 
  color: $color-white;
  background-color: $color-background;
  border: 4px solid $color-border;
  border-radius: 4px;
  width: 288px;
  height: 67px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-filter-normal{
@include btn(none,$color-purple);
&:hover {
    @include btn($color-purple-light,$color-purple);
  }

}

.btn-filter-active {
@include btn($color-purple,$color-purple);
&:hover {
    @include btn($color-purple-light,$color-purple);
  }

}

.btn-form{
  @include btn(rgba(0, 0, 0, 0.6),$color-purple);
  &:hover {
      @include btn($color-purple-light,$color-purple);
    }
  
  }


/*Mixin BreakPoints*/
@mixin breakpoint($breakpoint) {
@if $breakpoint == 'medium' {
  @media (min-width: $medium) {
    @content;
  }
}

}
