$color-white: #fff;
$color-black:#000;
$color-purple:#6B63B5;
$color-purpleDark:#403B6D;
$color-purple-light:rgba(107, 99, 181, 0.6);
$color-slytherin:linear-gradient(135deg, #1C792B 0%, #82E95E 100%);
$color-ravenclaw:linear-gradient(135deg, #0597B7 0%, #66D1FF 100%);
$color-hufflepuff:linear-gradient(135deg, #FFC700 0%, #FFF388 100%);



$medium: 640px !default;

